<html>
    <head>
        <title>오늘 뭐먹지?</title>
    </head>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <body>
    <img src = 'https://img.extmovie.com/files/attach/images/148/145/557/042/6ea2cf0ccff51c8912d59c71c9e6ac7f.gif'>
    <center>
      <table border="1">
            <tr><!-- 첫번째 줄 시작 -->
                <td><font size ="10"><a href="w/">양식</a></font></td>
                <td><font size ="10"><a href="c/">중식</a></font></td>
            </tr><!-- 첫번째 줄 끝 -->
            <tr><!-- 두번째 줄 시작 -->
                <td><font size ="10"><a href="j/">일식</a></font></td>
                <td><font size ="10"><a href="k/">한식</a></font></td>
            </tr><!-- 두번째 줄 끝 -->
      </table>
    </center>

    </body>
</html>